body{
    background-color: white;
    background-image: url(téléchargement\ \(1\).jpg);
}
table{
    text-align: center;
    margin: auto;
}
a{
    text-decoration: none;
    color: red;
    font-size: 25px;
}